<div class="top-menu text">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" href="#home-block">{{lang.home}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us-block">{{lang.aboutUs}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{lang.ourExperience}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{lang.catalog}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{lang.ourClients}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{lang.contacts}}</a>
                    </li>
                </ul>
            </div>
            <div class="authorization">
                <a href="#">{{lang.signIn}}</a>
                /
                <a href="#">{{lang.signUp}}</a>
            </div>
            <select class="language" [(ngModel)]="languageDefault" (ngModelChange)="onChange($event)">
                <option *ngFor="let lg of languageList" [value]="lg">{{lg}}</option>
            </select>

        </nav>
    </div>
</div>