<div id="our-clients-block">
  <div class="container">
    <div class="text-center">
      <div class="inline-icons-text section-heading">
        <div class="inline-icon">
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
        </div>
        <div class="inline-icon heading-width">
          <span class="heading-text">{{lang.ourClients}}</span>
        </div>
        <div class="inline-icon">
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
        </div>
      </div>
    </div>

  </div>
</div>

