<div id="about-us-block">
    <div class="container">
        <div class="text-center">
            <div class="inline-icons-text section-heading">
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
                <div class="inline-icon heading-width">
                    <span class="heading-text">{{lang.aboutUs}}</span>
                </div>
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
        <p class="text-center">{{lang.AUdescription}}</p>

        <div class="about-block">
            <img src="../../assets/images/ustanovka.jpg" alt="">
            <div>
                <h2>Очистка воды и водоподготовка</h2>
                <ul>
                    <li>Проектирование</li>
                    <li>Лабораторное исследование химического состава воды</li>
                    <li>Проведение стендовых испытаний на объекте</li>
                    <li>Производство и поставка технологического оборудования</li>
                    <li>Строительные, монтажные и пуско-наладочные работы</li>
                    <li>Гарантийное и посгарантийное сервисное обслуживание</li>
                </ul>
            </div>
        </div>
        <div class="about-block">
            <div>
                <h2>Автоматизация технологических процессов</h2>
                <ul>
                    <li>Проектирование</li>
                    <li>Изготовление электрических шкафов управления и силовых шкафов</li>
                    <li>Разработка программного обеспечения для ПЛК, систем визуализации, диспетчеризации технологических процессов и архивации данных</li>
                    <li>Строительные, монтажные и пуско-наладочные работы</li>
                    <li>Гарантийное и посгарантийное сервисное обслуживание</li>
                </ul>
            </div>
            <img src="../../assets/images/avtomatsmall.jpg" alt="">
        </div>
        <div class="about-block">
            <img src="../../assets/images/ochistochvod.jpg" alt="">
            <div>
                <h2>Очистка сточных вод</h2>
                <ul>
                    <li>Проектирование</li>
                    <li>Лабораторное исследование химического состава воды</li>
                    <li>Производство и поставка технологического оборудования</li>
                    <li>Строительные, монтажные и пуско-наладочные работы</li>
                    <li>Гарантийное и посгарантийное сервисное обслуживание</li>
                </ul>
            </div>
        </div>
        <div class="about-block">
            <div>
                <h2>Комплектующие</h2>
                <ul>
                    <li>Насосы, насосное оборудование и насосные станции повышения давления</li>
                    <li>Оборудование для промышленной водоподготовки и водоочистки</li>
                    <li>Трубы и фитинги полипропилен, ПВХ, полиэтилен</li>
                    <li>Запорная и регулирующая арматура</li>
                    <li>Контрольно-измерительные приборы</li>
                    <li>Автоматика</li>
                </ul>
            </div>
            <img src="../../assets/images/komplekt.jpg" alt="">
        </div>
        <p class="text-center">
            За время работы компания приобрела существенный опыт, позволяющий работать с оборудованием любого уровня сложности, начиная с небольших насосов и установок, предназначенных для использования в бытовых целях, и заканчивая масштабным высокотехнологичным оборудованием, применяемым в промышленности и жилищно-коммунальном хозяйстве
        </p>
    </div>
</div>
