<app-top-menu></app-top-menu>
<app-home-block></app-home-block>
<app-about-as-block></app-about-as-block>
<app-our-experience-block></app-our-experience-block>
<app-catalog-block></app-catalog-block>
<app-contacts-block></app-contacts-block>
<footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    © 1999 - 2017 - Компания "Группа Технология"
                </div>
            </div>
        </div>
</footer>

<!--449-->
<!--212-->