<div id="our-experience-block">
    <div class="container">
        <div class="text-center">
            <div class="inline-icons-text section-heading">
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
                <div class="inline-icon heading-width">
                    <span class="heading-text">{{lang.ourExperience}}</span>
                </div>
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>

        <div class="timeline">
            <div class="row animateleft animated fadeInLeft">
                <div class="col-6">
						<span class="fa-stack fa-2x right">
							<i class="fa fa-circle fa-1x fa-stack-2x"></i>
							<i class="fa fa-book fa-stack-1x fa-inverse service-icon"></i>
						</span>
                    <div class="left-content">
                        <h3 class="work">
                            M.Tech, Computer Science
                        </h3>
                        <h3 class="organization">
                            M.I.T University
                        </h3>
                        <p>
                            Cambridge
                        </p>
                    </div>


                </div>
                <div class="col-6">
                    <div class="right-content">
                        <h3 class="work">Jun 2012 - May 2014</h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo
                        </p>
                    </div>
                </div>
            </div>
            <div class="row animateright animated fadeInRight">
                <div class="col-6">
						<span class="fa-stack fa-2x right">
							<i class="fa fa-circle fa-1x fa-stack-2x"></i>
							<i class="fa fa-book fa-stack-1x fa-inverse service-icon"></i>
						</span>
                    <div class="left-content">
                        <h3 class="work">Jun 2008 - May 2012</h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo
                        </p>

                    </div>


                </div>
                <div class="col-6">
                    <div class="right-content">
                        <h3 class="work">
                            B.Tech, Computer Science
                        </h3>
                        <h3 class="organization">
                            Oxford University
                        </h3>
                        <p>
                            Oxford, England
                        </p>
                    </div>
                </div>
            </div>
            <div class="row animateleft animated fadeInLeft">
                <div class="col-6">
						<span class="fa-stack fa-2x right">
							<i class="fa fa-circle fa-1x fa-stack-2x"></i>
							<i class="fa fa-book fa-stack-1x fa-inverse service-icon"></i>
						</span>
                    <div class="left-content">
                        <h3 class="work">
                            A - Level
                        </h3>
                        <h3 class="organization">
                            American College
                        </h3>
                        <p>
                            New York, America
                        </p>
                    </div>

                </div>
                <div class="col-6">
                    <div class="right-content">
                        <h3 class="work">Jun 2006 - May 2008</h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo
                        </p>
                    </div>
                </div>
            </div>
            <div class="row animateleft animated fadeInLeft">
                <div class="col-6">
						<span class="fa-stack fa-2x right">
							<i class="fa fa-circle fa-1x fa-stack-2x"></i>
							<i class="fa fa-book fa-stack-1x fa-inverse service-icon"></i>
						</span>
                    <div class="left-content">
                        <h3 class="work">Jun 2004 - May 2006</h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo
                        </p>

                    </div>


                </div>
                <div class="col-6">
                    <div class="right-content">
                        <h3 class="work">
                            O - Level
                        </h3>
                        <h3 class="organization">
                            Business school
                        </h3>
                        <p>
                            North America
                        </p>
                    </div>
                </div>
            </div>
            <hr class="bottom">
        </div>
    </div>
</div>