<div id="catalog-block">
    <div class="container">
        <div class="text-center">
            <div class="inline-icons-text section-heading">
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
                <div class="inline-icon heading-width">
                    <span class="heading-text">{{lang.catalog}}</span>
                </div>
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 img-block">
                <img src="../../assets/images/leo.jpg" alt="" class="img-h-100 img-w-100">
                <span></span>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12 img-block">
                        <img src="../../assets/images/leo.jpg" alt="" class="img-w-100 mb-4">
                        <span></span>
                    </div>
                    <div class="col-12 img-block">
                        <img src="../../assets/images/leo.jpg" alt="" class="img-w-100">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-4 img-block">
                <img src="../../assets/images/leo.jpg" alt="" class="img-h-100 img-w-100">
                <span></span>
            </div>
        </div>


    </div>
</div>

