<div id="contacts-block">
    <div class="container">
        <div class="text-center">
            <div class="inline-icons-text section-heading">
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
                <div class="inline-icon heading-width">
                    <span class="heading-text">{{lang.contacts}}</span>
                </div>
                <div class="inline-icon">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
        <h3 class="text-center">Задайте вопрос прямо сейчас!</h3>
        <div class="row">
            <div class="col-md-7">
                <form role="form">
                    <div class="form-group input-group col-xs-12 floating-label-form-group">
                        <span class="input-group-addon"> <i class="fas fa-user fa-lg"></i> </span>
                        <!--<label for="name">Name</label>-->
                        <input class="form-control" type="text" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group input-group col-xs-12 floating-label-form-group">
                        <span class="input-group-addon"> <i class="far fa-envelope fa-lg"></i> </span>
                        <!--<label for="email">Email Address</label>-->
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email Address">
                    </div>
                    <div class="form-group input-group col-xs-12 floating-label-form-group message-addon">
                        <span class="input-group-addon"> <i class="far fa-edit fa-lg"></i> </span>
                        <!--<label for="message">Message</label>-->
                        <textarea placeholder="Message" class="form-control" name="message" id="message"
                                  rows="4"></textarea>
                    </div>
                    <br>
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default btn-lg">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 contact-sidebar">
                <div class="inline-icons-text">
                    <div class="inline-icon">
                        <div class="btn-social btn-outline"><i class="fas fa-map-marker-alt"></i>
                        </div>
                    </div>
                    <div class="inline-icon">
                        <div class="marker">347917, Ростовская область, г. Таганрог, ул. Маршала Жукова д. 223 а, кв. 89</div>

                    </div>
                </div>
                <div class="inline-icons-text">
                    <div class="inline-icon">
                        <div class="btn-social btn-outline"><i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <div class="inline-icon">
                        <div class="marker">info@water-hitech.ru</div>

                    </div>
                </div>
                <div class="inline-icons-text">
                    <div class="inline-icon">
                        <div class="btn-social btn-outline"><i class="fas fa-phone"></i>
                        </div>
                    </div>
                    <div class="inline-icon">
                        <div class="marker">
                            8 (928) 622-84-84
                            <br>
                            8 (928) 11-999-03
                            <br>
                            8 (938) 113-13-40
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


